<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfg_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.AdminPage"></activity>
        <activity android:name=".activity.Puntuacions"></activity>
        <activity android:name=".activity.ResultatsPartitPage" />
        <activity android:name=".activity.ResultatsPage" />
        <activity android:name=".activity.MenuLligaVirtual" />
        <activity android:name=".activity.PerfilPage" />
        <activity android:name=".activity.PlantillaPage" />
        <activity android:name=".activity.MenuPrincipal" />
        <activity android:name=".activity.RegisterPage" />
        <activity android:name=".activity.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>